.result-name-card{
    color: #e7e9f0;
    background-color: #2e2e49;
    min-width: 95px;
    margin: 10px 15px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1s;
    display: flex;
    justify-content: center;
}

.result-name-card:hover{
    background-color: #474775;
}

.result-name{
    font-size: 20px;
    text-decoration: none;
}

.card-link{
    text-decoration: none;
}